<h3>Bulk create</h3>
<h4>Enter a CSV of all brother names, emails, phone numbers, and years</h4>
<%= form_tag "/brother/bulk_create" do %>
  <%= text_area_tag "csv", "name, phone, email, year \n" %>
  <%= submit_tag "Create all" %>
<% end %>
